<div class="article-thumbnail" [ngClass]="{'popular-article': article.likeCount > 200 }">
  <div class="article-thumbnail__image-container">
    <img [src]="article.image" alt="Image de l'article" class="article-thumbnail__image" />
    <span class="article-thumbnail__tag">{{ article.categoryName }}</span>
    <span class="article-thumbnail__like" (click)="sendNotification()">{{
      article.isLiked ? "♥" : "♡"
    }}</span>
  </div>
  <div class="article-thumbnail__content">
    <p class="article-thumbnail__like-count">{{ article.likeCount }} like</p>
    <p class="article-thumbnail__date">
      {{ article.createdAt | date : "dd/MM/yyyy" }}
    </p>
    <a [routerLink]="['/article', article.id]">
      <h2 class="article-thumbnail__title">{{ article.title }}</h2>
    </a>
    <p class="article-thumbnail__excerpt">
      {{ article.content }}
    </p>
  </div>
</div>