.article-thumbnail {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  font-family: "Inter", sans-serif;

  &__image-container {
    position: relative;
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &__tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 4px 8px;
    font-size: 0.5rem;
    border-radius: 4px;
    text-transform: uppercase;
  }

  &__like {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1rem;
    cursor: pointer;
  }

  &__content {
    padding: 16px;
  }

  &__like-count {
    font-size: 0.7rem;
    color: #333;
    margin: 0 0 8px;
    font-weight: 700;
  }

  &__date {
    font-size: 0.7rem;
    color: #888;
    margin: 0 0 8px;
  }

  &__title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 8px;
    color: #333;
  }

  &__excerpt {
    font-size: 0.7rem;
    color: #666;
    line-height: 1.4;
  }
}

.popular-article {
  border: 1px red solid;
}
